<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Simple CRM</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <%- include('../../partials/nav') %>
  <%- include('../../partials/top-nav-contacts') %>
  
<h1>Help Page</h1>

<section>
  Navigation
  <div>
    Main Categories
    <p>There are four main sections that you will be working out of. Each section is broken up into smaller sections where
      you can organize your how you work. Certain things like contact can be linked to realtors, or lenders, or even lots. By linking 
      them you can help manage that client better so that the information you are looking for is always in one place. 
    </p>
    <div>
      Contacts
      <p>In this section you will add your contacts broken into 3 different types. Contacts "Leads" are your clients that you will deal
        with on a daily basis. You will also add realtors, and Lenders.
      </p>
    </div>
      <div>
      Community
      <p>
        In the community section you will manage your community or communities. Communities are added and then lots are linked to that community.
        You will be able to manage the construction of each lot, as well as once sold link a purchaser or buyer to that lot. Your purchaser informatio
        like realtor and lender information will carry over to the managment section of each lot so you can visualize the construction and status
        of the purchaser as they get closer to closing on the home.
      </p>
    </div>
      <div>
      Competition
      <p>
        In competition you will manage your main competitors as well as your community information. A majority of your community information will
        carry over from your work you do in the other sections. Your compeitior information can be tracked every month and will compare your 
        progress in your community to your competition.
      </p>
    </div>
      <div>
        Task
        <p>
          Task are broken into several different categories depending on what you are wanting to accomplish for the day. You can add your own 
          task or see task that have been automatically added for you to check. For example when the first of the month hits you will see what you 
          need to update or change for your monthly competition remport. Or if you set a reminder for yourself to follow up with a client it will
          show up in here.
        </p>
    </div>
  </div>
  <div>
    Sub Categories
    <div>
      Contacts / Realtors / Lenders
      <h1>Add Contact</h1>
      <p>You can add any type of contact on this page. By clicking the button at the top it will change the inputs depending on what information
        in required for a certain contact. For example if you click realtor another input feild for the brokerage will be added, but if you click 
        contact only their name and contact information will need to be entered. You can also add a contact, realtor, or lender by clicking on 
        nave bar at the top that will take you to a list of all your contacts, realtors, or lenders. Here you will be able to add a specific 
        contact type.
      </p>
      <h1>Contact</h1>
      <p>
        By clicking on the contact nav icon at the top it will take you to a list of all of your contacts "leads". Here will give you a quick breakdown
        of thier status as well as their contact information. You can add comments by clicking the comment icon in the far left of each row, or click their 
        name to bring you to a more detailed card for that specific lead.
      </p>
      <h1>
        Realtors
      </h1>
      <p>
        By clicking the realtor navigation button will bring you to a similar list just like your contacts. However, this list will show a little 
        different information. You can click on the comment icon on the far left of the row or click thier name to bring you to a detailed card 
        for that specific realtor. 
      </p>
      <h1>Lenders</h1>
      <p>
        Similar to how you have gotten to Contacts and Realtors, by clicking on the Lender navigation button at the top you will see a list of
        all of the lenders that you have worked with. Similar to realtors this list will be populated with a little different information. By clicking
        on the realtors name it will bring you to their card where you can see additional information. 
      </p>
    </div>
    <div>
      Add Community / My Purchasers / My Community
    </div>
    <div>
      My Community Comp / Manage Competition / Dashboard
    </div>
  </div>
</section>

<section>
  Contacts
</section>

<section>
  Community
</section>

<section>
  Competition
</section>

</body>
</html>
