.card {
  border-radius: .5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}
.card--white {
  background-color: #fff;
}
.card--grey {
  background-color: #e2e6ea;
  
}
.card--light {
  background-color: #fafafa;
}

