#realtorsTopBar { width: 100%; }
#realtorFilters { min-height: 40px; }
#realtorSearch { min-width: 340px; }

.status-pill.has-negotiation     { border-color: #3CB371; }
.status-pill.has-negotiation.active { color: #3CB371; }

.status-pill.has-purchased       { border-color: #2E8B57; }
.status-pill.has-purchased.active { color: #2E8B57; }

.status-pill.has-closed          { border-color: #495057; }
.status-pill.has-closed.active { color: #495057; }