<!-- views/partials/navbar.html -->
<nav class="horizontalBar">
  <div class="top-left">
    <h1 class="nav-logo">Keep Up</h1>
  </div>
  <div class="top-center">
    <input type="text" placeholder="Search..." class="search-bar">
  </div>
  <div class="top-right">
    <a href="/toolbar/help"><button class="top-btn"><img src="/assets/icons/help.svg" alt="Help"></button></a>
    <button class="top-btn"><img src="/assets/icons/account-icon.svg" alt="Account"></button>
    <button class="top-btn"><img src="/assets/icons/notifications.svg" alt="Notifications"></button>
  </div>
</nav>
<div class="main-layout">
  <nav class="nav-bar">
    <div class="nav-items-container">
      <ul>
        <li>
          <a href="/index" class="nav-link">
            <img src="/assets/icons/home-icon.svg" alt="Home">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="/contacts" class="nav-link">
            <img src="/assets/icons/contacts.svg" alt="Contacts">
            <span>Contacts</span>
          </a>
        </li>
        <li>
          <a href="/community-management" class="nav-link">
            <img src="/assets/icons/community-icon.svg" alt="Community">
            <span>Community</span>
          </a>
        </li>
        <li>
          <a href="/my-community-competition" class="nav-link">
            <img src="/assets/icons/competition.svg" alt="Competition">
            <span>Competition</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>