<!-- views/partials/top-nav-community.ejs -->
</head>
    <div class="header-wrapper">
    <header class="header">
      <div class="header-items">
       <ul>
        <li>
          <div>
            <img src="\assets\icons\add-circle-icon.svg" alt="">
          </div>
          <div>
            <a href="/community-management">Add Community</a>
          </div>
        </li>
         <li>
          <div>
            <img src="\assets\icons\add-circle-icon.svg" alt="">
          </div>
          <div>
            <a href="/Add-floorplan">Manage Floor Plans</a>
          </div>
        </li>
          <li>
          <div>
            <img src="\assets\icons\contacts.svg" alt="">
          </div>
          <div>
            <a href="">My Purchasers </a>
          </div>
        </li>
        <li>
          <div>
            <img src="\assets\icons\community-icon.svg" alt="">
          </div>
          <div>
            <a href="/view-communities">My Community</a>
          </div>
        </li>
          
       </ul>
      </div>
    </header>
</div>
  