<!-- views/partials/top-nav-admin.ejs -->
</head>
    <div class="header-wrapper">
    <header class="header">
      <div class="header-items">
       <ul>
           <li>
          <div>
            <img src="\assets\icons\graph.svg" alt="">
          </div>
          <div>
            <a href="/admin-section">Admin Section</a>
          </div>
        </li>
        <li>
          <div>
            <img src="\assets\icons\community-icon.svg" alt="">
          </div>
          <div>
            <a href="/community-management">Manage Communities</a>
          </div>
        </li>
        <li>
          <div>
            <img src="\assets\icons\competition.svg" alt="">
          </div>
          <div>
            <a href="/add-floorplan">Manage Floor Plans</a>
          </div>
        </li>
     
       </ul>
      </div>
    </header>
</div>
  
