<!-- views/partials/top-nav-competition.ejs -->
</head>
    <div class="header-wrapper">
    <header class="header">
      <div class="header-items">
       <ul>
        <li>
          <div>
            <img src="\assets\icons\add-circle-icon.svg" alt="">
          </div>
          <div>
            <a href="\my-community-competition">Competition Home</a>
          </div>
        </li>
         <li>
          <div>
            <img src="\assets\icons\add-circle-icon.svg" alt="">
          </div>
          <div>
            <a href="\add-competition">Add Competition</a>
          </div>
        </li>
          <li>
          <div>
            <img src="\assets\icons\contacts.svg" alt="">
          </div>
          <div>
            <a href="\manage-competition">Manage Competition</a>
          </div>
        </li>
        <li>
          <div>
            <img src="\assets\icons\community-icon.svg" alt="">
          </div>
          <div>
            <a href="">Dashboard</a>
          </div>
        </li>
          
       </ul>
      </div>
    </header>
</div>
  