<!-- views/partials/top-nav-blank.ejs -->
<div class="header-wrapper">
  <header class="header">
    <div class="header-items">
      <div class="top-nav-placeholder" aria-hidden="true">&nbsp;</div>
    </div>
  </header>
</div>
