<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Simple CRM</title>
   
  <!-- single entry-point for all your app’s CSS -->
   <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <!-- include navbar HTML at the top of every page -->
  <!-- if you’re using EJS: -->
  <%- include('../partials/nav') %>
  <%- include('../partials/top-nav-competition') %>
  <!-- or (static SSI) -->
  <!--# include virtual="/views/partials/navbar.html" -->

  <h1>COMP HOME</h1>

  <script>
   


  </script>
</body>
</html>