<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Simple CRM</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <!-- single entry-point for all your app’s CSS -->
   <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <!-- include navbar HTML at the top of every page -->
  <!-- if you’re using EJS: -->
  <%- include('../partials/nav') %>
  <%- include('../partials/top-nav-contacts') %>
  <!-- or (static SSI) -->
  <!--# include virtual="/views/partials/navbar.html" -->

  <div class="container mt-3">
  <div class="alert alert-light d-flex align-items-center gap-3">
    <div>
      <div class="fw-semibold">
        Welcome, <%= (currentUser && currentUser.name) || 'Guest' %>
      </div>
      <div class="text-muted">
        Company: <%= (currentUser && currentUser.company) || 'N/A' %>
      </div>
    </div>
  </div>
</div>

<div>
  <h2>Update Notes</h2>
    <div>
      <h3>
        Version 1.0.2 - 10/21/25
      </h3>
      <p>
        My Community Details Page:<br/>
        -My Community Details now pulls linked floor plans, drop down now can select model floor plan<br/>
        -My Community Competition - now pulls Company Name <br/>
        -My Community Competition graphs now fills more space.
        -My Community Competition - Added New Graph for SQFT comparison comparing base price of floor plans for your community.<br/>
        -Removed Lines from QMI / SOLD graph to make it just a scatter plot<br/>
        - Fixed base price graph showing competitors now only shows your community. <br/>
        -Fixed PID and MUD input boxes not showing unless page is refreshed. Added a Frequency (monthly / Yearly) to PID. <br/>
        - Adjusted Linked competitors UI so that you can see a little cleared who is linked and what competitors are not linked.<br/>
        - Added Amenity options<br/>
        - Adjusted Hide buttons for Promotions & HOA, Pros & Cons section. Still not 100% happy with this but its better.<br/>

        Competition Dashboard:<br/>
        -Cleaned up ledged for Quick Move in and Sold Graph<br/>
        -Adjusted My Community Section header to fit more community pills without needing to wrap. This will still wrap but you should be able to fit 5 communities.<br/>
      </p>
    </div>
</div>

 
</body>
</html>