<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/nav.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Nav Bar</title>
  
</head>

  <nav class="horizontalBar">
    <div class="top-left">
      <h1>Keep Up</h1>
    </div>
    <div class="top-center">
      <input type="text" placeholder="Search..." class="search-bar">
    </div>
    <div class="top-right">
      <button class="top-btn"><img src="/assets/icons/help.svg" alt=""></button>
      <button class="top-btn"><img src="/assets/icons/account-icon.svg" alt=""></button>
      <button class="top-btn"><img src="/assets/icons/notifications.svg" alt=""></button>
    </div>
  </nav>
  <div class="main-layout">
  <nav class="nav-bar">
    <div class="nav-items-container">
      <ul>
        <li>
          <a href="index.html" class="nav-link">
            <div><img src="/assets/icons/home-icon.svg" alt=""></div>
            <div> Home</div>
          </a>
        </li>      
        <li>
          <a href="contacts.html" class="nav-link">
            <div><img src="/assets/icons/contacts.svg" alt=""></div>
            <div> Contacts</div>
          </a>
        </li>
        <li>
          <a href="community-management.html" class="nav-link">
            <div><img src="/assets/icons/community-icon.svg" alt=""></div>
            <div>Community</div>
          </a>
        </li>
        <li>
          <a href="" class="nav-link">
            <div><img src="/assets/icons/competition.svg" alt=""></div>
            <div>Competition</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

  <script>
   
  </script>

</html>