<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/assets/css/top-nav.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Nav Bar</title>
  
</head>

  <div class="header-wrapper">
    <header class="header">
      <div class="header-items">
       <ul>
        <li>
          <a href="add-lead.html" class="top-nav-link">
            <div><img src="/assets/icons/add-circle-icon.svg" alt=""></div>
            <div>Add Contact</div>
          </a>
        </li>
        <li>
          <a href="contacts.html" class="top-nav-link">
            <div><img src="/assets/icons/contacts.svg" alt=""></div>
            <div>Contacts</div>
          </a>
        </li>
        <li>
          <a href="realtors.html" class="top-nav-link">
            <div><img src="/assets/icons/realtor.svg" alt=""></div>
            <div>Realtors</div>
          </a>
        </li>
         <li>
          <a href="lender.html" class="top-nav-link">
            <div><img src="/assets/icons/lender.svg" alt=""></div>
            <div>Lenders</div>
        </a>
        </li>    
       </ul>
      </div>
    </header>
  </div>

  <script>
   
  </script>

</html>